@import 'normalize.css';
@import 'variables.scss';

.right_menu {
    top: 30px;
    right: 20px;
    position: fixed;
    color: #000000b7;
    font-weight: 100;
    font-family: 'Arial', serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    // min-width: 250px;
    border-radius: 8px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.active_object {
    display: none;
    padding-left: 10px;
    border-radius: 8px;
}

.right_menu_description {
    display: flex;
    font-weight: bold;
    color: #000000b7;
    padding-left: 5px;
    padding-bottom: 10px;
}

.right_menu_description::first-letter {
    font-weight: bold;
}

.zoom {
    display: flex;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    color: #000000b7;
    padding: 10px 15px;
}



.zoom_value {
    padding-left: 15px;
}

.properties_active_object {  
    display: none;
    min-height: max-content;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px;
    gap: 5px;
}

.canvas_option {
    display: none;
}

.save_div {
    width: max-content;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px;
    &:hover {
        background-color: #dedeff;
    }
}

.save_canvas,.clear_canvas{
    width: max-content;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    &:hover {
        background-color: #dedeff;
    }
}

.color_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 26px;
    height: 28px;
    border: none;
    cursor: pointer;
}


.stroke_width_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui;
    color: #3d475294;
}

#stroke_width {
    font-family: system-ui;
    text-align: center;
    width: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #3d4752;
    overflow: hidden;
}

#minus_stroke_width,
#plus_stroke_width {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.position {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border: 1px solid #3d4752;
}

.x,.y{
    display: flex;
    width: 50%;
    gap: 10px;
    padding: 5px;
}

.x{
    border-right: 1px solid #3d4752;
}



.fill,.stroke {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border: 1px solid #3d4752;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: none;
    -moz-appearance: textfield;
}


:root {
    /* button */
    --tool-cool-color-picker-btn-bg: #42445a00;
    --tool-cool-color-picker-btn-border-color: #ffffff00;
    --tool-cool-color-picker-btn-border-color-inner: #282727;

    /* popup */
    --tool-cool-color-picker-popup-bg: #ffffff;
    --tool-cool-color-picker-popup-border-color: #000000;

    /* fields */
    --tool-cool-color-picker-field-border-color: #363636;
    --tool-cool-color-picker-field-label-color: #1a3c6e;
}

